# Unity

## Classic Unity stuff

/AttMesUnity/[Ll]ibrary/
/AttMesUnity/[Tt]emp/
/AttMesUnity/[Oo]bj/
/AttMesUnity/[Bb]uild/
/AttMesUnity/[Bb]uilds/
/AttMesUnity/[Ll]ogs/
/AttMesUnity/[Uu]ser[Ss]ettings/
/AttMesUnity/[Mm]emoryCaptures/
/AttMesUnity/[Rr]ecordings/
/AttMesUnity/[Aa]ssets/Plugins/Editor/JetBrains*
/AttMesUnity/.vs/
/AttMesUnity/.gradle/
/AttMesUnity/.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
/AttMesUnity/sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
/AttMesUnity/crashlytics-build.properties
/AttMesUnity/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/AttMesUnity/[Aa]ssets/[Ss]treamingAssets/aa.meta
/AttMesUnity/[Aa]ssets/[Ss]treamingAssets/aa/*

## Relative to project

/AttMesUnity/Assets/AutoHand/
/AttMesUnity/Assets/TextMesh Pro/

